// styles.scss

// So Roboto Sass knows where to find the fonts,
// where we've copied them from node_modules to ./dist/fonts/roboto
$roboto-font-path: '../fonts';
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/roboto-fontface/css/roboto/sass/roboto-fontface';

/**
 * Redefine font path for Weather Icons 
 */
$wi-path: "../fonts/weather";
@import '../../../lib/weather-icons-master/sass/weather-icons';

html, body {
    color: #fff;
    background-color: #000;
}


.primary-text-color {
    @extend .text-primary;
}


/**
 * Basic UI elements 
 */

.current_time {
    // @extend .primary-text-color;
    font-size      : 96px;
    font-weight    : 500;
    margin-top     : 0;
    text-transform : uppercase;
}

.current_date {
    // color          : $text-muted;
    font-size      : 48px;
    font-weight    : 300;
    margin-top     : -36px;
    text-transform : uppercase;
}

.current_conditions__description {
    font-size   : 36px;
    font-weight : 300;
    margin-top  : 0;
}

.current_temp {
    font-size   : 96px;
    font-weight : 500;
}

.subtext {
    font-size   : .66em;
    font-weight : 300;
}

@include media-breakpoint-up(xs) {
  .current_time, .current_temp {
    font-size: 3rem;
  }
  .current_date {
    font-size: 2rem;
    margin-top     : auto;
  }
  .current_conditions__description {
    font-size: 2rem;
  }

  .current_temp {
    font-size: 4rem;
  }
}

@include media-breakpoint-up(sm) {
  .current_time, .current_temp {
    font-size: 6rem;
  }
  .current_date {
    font-size: 4rem;
    margin-top     : auto;
  }
  .current_conditions__description {
    font-size: 3rem;
  }

  .current_temp {
    font-size: 8rem;
  }
}

.icon {
    @extend .wi;
    padding   : 48px;
    font-size : 128px;
}




/**
 * Variations based on context (i.e. conditions)
 */

 #weather-container {
    display: none;
 } 

.weather {

    text-align: center;

    &.day{

        &.clear,
        &.wind {

            background-color: #69D2E7;

            & .current_time,
            & .current_temp {
                color: #FFE545;
                // @extend .primary-text-color;
            }

            & .current_date,
            & .current_conditions__description {
                color : #FEFBAF;
            }
        }

        &.clear .icon {
            @extend .wi-day-sunny;
            color: #FFE545;
        }

        &.wind .icon {
            // http://www.color-hex.com/color-palette/56876
            @extend .wi-strong-wind;
            color: #a0dcd8;
        }

        // Palette: http://www.colourlovers.com/palette/3292428/rains_in_my_dreams
        &.rain {

            // TODO: http://www.color-hex.com/color-palette/56856 maybe?
            background-color: #667787;

            & .current_time,
            & .current_temp,
            & .icon {                
                color: #F7F6E2;                
            }

            & .current_date,
            & .current_conditions__description {                
                color: #D3CCC6;                
            }

            & .icon {
                @extend .wi-day-rain;         
            }
        }

        // Palette: http://www.colourlovers.com/palette/2734131/Snowy_owl
        &.snow {

            background-color: #FCFDFF;

            & .current_time,
            & .current_temp,
            & .icon {           
                color: #6C788E;               
            }

            & .current_date,
            & .current_conditions__description {
                color: #A6AEC1;
            }

            & .icon {
                @extend .wi-day-snow;
            }
        }

        // Palette: http://www.colourlovers.com/palette/3640282/miss_sleet
        &.sleet {
            background-color: #ACAAA8;

            & .current_time,
            & .current_temp,
            & .icon {          
               color: #313233;               
            }

            & .current_date,
            & .current_conditions__description {
               color: #EEEADB; 
            }

            & .icon {
                @extend .wi-day-sleet;
            }
        }

        // Palette: http://www.colourlovers.com/palette/2236415/Winter
        &.fog {

            background-color: #E6E8E3;

            & .current_time,
            & .current_temp,
            & .icon {  
               color: #8F9A9C; 
            }

            & .current_date,
            & .current_conditions__description {
                color: #BEC3BC;
            }

            & .icon {
                @extend .wi-day-fog;
            }
        }

        // Palette: http://www.colourlovers.com/palette/1432163/fresh_me
        &.cloudy {

            background-color: #7FBFFF;

            & .current_time,
            & .current_temp,
            & .icon {
                color: #ffffff;
            }

            & .current_date,
            & .current_conditions__description {
                color: #D7DACF;
            }

            & .icon {
                @extend .wi-day-cloudy;
            }
        }

        // Palette: http://www.colourlovers.com/palette/3571322/cloudy_and_sunny
        &.partlycloudy {

            background-color: #95A8C4;

            & .current_time {
                color: #F1ED05;    
            }

            & .current_date {
                color: #F4C111;    
            }

            & .current_conditions__description {
                color: #F4C111;    
            }

            & .current_temp {
                color: #F1ED05; 
            }

            & .icon {
                @extend .wi-day-sunny-overcast;
                color: #E6E8E3; 
            }
        }
    }

    &.night {

        background-color: #000011;

        &.clear,
        &.wind {

            & .current_time,
            & .current_temp,
            & .icon {
                color: #E6E8E3;
            }

            & .current_date,
            & .current_conditions__description {
                color: #bbccdd;
            }
        }

        &.clear .icon {
            @extend .wi-night-clear;
        }

        &.wind .icon {
            @extend .wi-strong-wind;
        }

        &.rain {

            // background-color: #bbccdd;
            
            & .current_time,
            & .current_temp,
            & .icon {
                color: #95A8C4;
            }

            & .current_date,
            & .current_conditions__description {
                color: #bbccdd;
            }

            & .icon {
                @extend .wi-night-rain;
            }
        }

        &.snow {

            background-color: #000011;
            
            & .current_time,
            & .current_temp,
            & .icon {
                color: #95A8C4;
            }

            & .current_date,
            & .current_conditions__description {
                color: #D7DACF;
            }

            & .icon {
                @extend .wi-night-snow;
            }
        }

        &.sleet {
            
            & .current_time,
            & .current_temp,
            & .icon {
                color: #95A8C4;
            }

            & .current_date,
            & .current_conditions__description {
                color: #D7DACF;
            }

            & .icon {
                @extend .wi-night-sleet;
            }
        }

        &.fog {
            
            & .current_time,
            & .current_temp,
            & .icon {
                color: #95A8C4;
            }

            & .current_date,
            & .current_conditions__description {
                color: #D7DACF;
            }

            & .icon {
                @extend .wi-night-cloudy;
            }
        }

        &.cloudy {

            & .current_time,
            & .current_temp,
            & .icon {
                color: #95A8C4;
            }

            & .current_date,
            & .current_conditions__description {
                color: #D7DACF;
            }

            & .icon {
                @extend .wi-night-cloudy;
            }
        }

        &.partlycloudy {

            & .current_time,
            & .current_temp,
            & .icon {
                color: #95A8C4;
            }

            & .current_date,
            & .current_conditions__description {
                color: #D7DACF;
            }

            & .icon {
                @extend .wi-night-partly-cloudy;
            }
        }
    }

}