// styles.scss

// So Roboto Sass knows where to find the fonts,
// where we've copied them from node_modules to ./dist/fonts/roboto
$roboto-font-path: '../fonts';
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/roboto-fontface/css/roboto/sass/roboto-fontface';

/**
 * Redefine font path for Weather Icons 
 */
$wi-path: "../fonts/weather";
@import '../../../lib/weather-icons-master/sass/weather-icons';




.primary-text-color {
    @extend .text-primary;
}


/**
 * Basic UI elements 
 */

.current_time {
    // @extend .primary-text-color;
    font-size      : 96px;
    font-weight    : 500;
    margin-top     : 0;
    text-transform : uppercase;
}

.current_date {
    // color          : $text-muted;
    font-size      : 48px;
    font-weight    : 300;
    margin-top     : -36px;
    text-transform : uppercase;
}

.current_conditions__description {
    font-size   : 36px;
    font-weight : 300;
    margin-top  : 0;
}

.current_temp {
    font-size   : 96px;
    font-weight : 500;
}

.subtext {
    font-size   : .66em;
    font-weight : 300;
}

@include media-breakpoint-up(xs) {
  .current_time, .current_temp {
    font-size: 3rem;
  }
  .current_date {
    font-size: 2rem;
    margin-top     : auto;
  }
  .current_conditions__description {
    font-size: 2rem;
  }

  .current_temp {
    font-size: 4rem;
  }
}

@include media-breakpoint-up(sm) {
  .current_time, .current_temp {
    font-size: 6rem;
  }
  .current_date {
    font-size: 4rem;
    margin-top     : auto;
  }
  .current_conditions__description {
    font-size: 3rem;
  }

  .current_temp {
    font-size: 8rem;
  }
}

.icon {
    @extend .wi;
    padding   : 48px;
    font-size : 128px;
    // background-size : contain !important;
    // height          : 400px;
    // margin          : 0 auto;
    // width           : 400px;
    // text-indent     : -9999px;
    
    /* &--rain {
        background      : url(../img/amcharts_weather_icons_1.0.0/animated/rainy-1.svg) no-repeat;
        background-size : contain;
    }

    &--clear-day {
        background      : url(../img/amcharts_weather_icons_1.0.0/animated/day.svg) no-repeat;
        background-size : contain;
    }

    &--clear-night {
        background      : url(../img/amcharts_weather_icons_1.0.0/animated/night.svg) no-repeat;
        background-size : contain;
    } */

    // clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night
}




/**
 * Variations based on context (i.e. conditions)
 */

 #weather-container {
    display: none;
 } 

.weather {

    text-align: center;

    &.day{

        &.clear,
        &.wind {

            background-color: #69D2E7;

            & .current_time {
                color: #FFE545;
                // @extend .primary-text-color;
            }

            & .current_date {
                color : #FEFBAF;
            }

            & .current_conditions__description {
                // color: #026475;
                color : #FEFBAF;
            }

            & .current_temp {
                color: #FFE545;
            }

            // & .icon {
            //     @extend .wi-night-sleet;
            //     // background      : url(../img/amcharts_weather_icons_1.0.0/animated/day.svg) no-repeat;
            // }

        }

        &.clear .icon {
            @extend .wi-day-sunny;
            color: #FFE545;
        }

        &.wind .icon {
            @extend .wi-strong-wind;
            color: #95A8C4;
        }

        // Palette: http://www.colourlovers.com/palette/3292428/rains_in_my_dreams
        &.rain {

            background-color: #667787;

            & .current_time {                
                color: #F7F6E2;                
            }

            & .current_date {                
                color: #D3CCC6;                
            }

            & .current_conditions__description {
                color: #D3CCC6;
            }

            & .current_temp {                
                color: #F7F6E2;                
            }

            & .icon {
                @extend .wi-day-rain;
            }
        }

        // Palette: http://www.colourlovers.com/palette/2734131/Snowy_owl
        &.snow {

            background-color: #FCFDFF;

            & .current_time {
                color: #6C788E;
            }

            & .current_date {
                color: #A6AEC1;
            }

            & .current_conditions__description {
                color: #A6AEC1;
            }

            & .current_temp {
                color: #6C788E;
            }

            & .icon {
                @extend .wi-day-snow;
            }
        }

        // Palette: http://www.colourlovers.com/palette/3640282/miss_sleet
        &.sleet {
            background-color: #ACAAA8;

            & .current_time {
               color: #313233; 
            }

            & .current_date {
               color: #313233; 
            }

            & .current_conditions__description {
               color: #EEEADB; 
            }

            & .current_temp {
               color: #313233; 
            }

            & .icon {
                @extend .wi-day-sleet;
            }
        }

        // Palette: http://www.colourlovers.com/palette/2236415/Winter
        &.fog {

            background-color: #E6E8E3;

            & .current_time {
               color: #8F9A9C; 
            }

            & .current_date {
                color: #BEC3BC;
            }

            & .current_conditions__description {
                color: #8F9A9C;
            }

            & .current_temp {
                color: #BEC3BC;
            }

            & .icon {
                @extend .wi-day-fog;
            }
        }

        // Palette: http://www.colourlovers.com/palette/1432163/fresh_me
        &.cloudy {

            background-color: #bbbbbb;

            & .current_time {
                color: #ffffff;
            }

            & .current_date {
                color: #ffffff;
            }

            & .current_conditions__description {
                color: #ffffff;
            }

            & .current_temp {
                color: #ffffff;
            }

            & .icon {
                @extend .wi-day-cloudy;
            }
        }

        // Palette: http://www.colourlovers.com/palette/3571322/cloudy_and_sunny
        &.partlycloudy {

            background-color: #95A8C4;

            & .current_time {
                color: #F1ED05;    
            }

            & .current_date {
                color: #F4C111;    
            }

            & .current_conditions__description {
                color: #F4C111;    
            }

            & .current_temp {
                color: #F1ED05; 
            }

            & .icon {
                @extend .wi-day-sunny-overcast;
            }
        }
    }

    &.night {

        background-color: #000011;

        &.clear,
        &.wind {

            background-color: #000011;

            & .current_time {
                color: #336666;
            }

            & .current_date {
                color: #334444;
            }

            & .current_conditions__description {
                color: #334444;
            }

            & .current_temp {
                color: #336666;
            }
        }

        &.clear .icon {
            @extend .wi-night-clear;
            color: #999999;
        }

        &.wind .icon {
            @extend .wi-strong-wind;
            color: #95A8C4;
        }

        &.rain {

            background-color: #bbccdd;

            & .current_time {
                
            }

            & .current_date {
                
            }

            & .current_conditions__description {
                
            }
            
            & .current_temp {
                
            }

            & .icon {
                @extend .wi-night-rain;
                color: #95A8C4;
            }
        }

        &.snow {

            background-color: #efefef;

            & .current_time {
                
            }

            & .current_date {
                
            }

            & .current_conditions__description {
                
            }
            
            & .current_temp {
                
            }

            & .icon {
                @extend .wi-night-snow;
                color: #95A8C4;
            }
        }

        &.sleet {

            background-color: #aabbdd;

            & .current_time {
                
            }

            & .current_date {
                
            }

            & .current_conditions__description {
                
            }
            
            & .current_temp {
                
            }

            & .icon {
                @extend .wi-night-sleet;
                color: #95A8C4;
            }
        }

        &.fog {

            background-color: #efefef;

            & .current_time {
                
            }

            & .current_date {
                
            }

            & .current_conditions__description {
                
            }
            
            & .current_temp {
                
            }

            & .icon {
                @extend .wi-night-fog;
                color: #95A8C4;
            }
        }

        &.cloudy {

            background-color: #000011;

            & .current_time {
                
            }

            & .current_date {
                
            }

            & .current_conditions__description {
                
            }
            
            & .current_temp {
                
            }

            & .icon {
                background      : url(../img/amcharts_weather_icons_1.0.0/animated/cloudy-night-2.svg) no-repeat;
            }

            & .icon {
                @extend .wi-night-cloudy;
                color: #95A8C4;
            }
        }

        &.partlycloudy {

            background-color: #99aacc;

            & .current_time {
                
            }

            & .current_date {
                
            }

            & .current_conditions__description {
                
            }
            
            & .current_temp {
                
            }

            & .icon {
                @extend .wi-night-partly-cloudy;
                color: #95A8C4;
            }
        }
    }

}